:root {
  --clr-white: #fff;
  --clr-d-grey: #455b74;
  --clr-bright: #f9054a;
  --clr-bright-hover: #a50331;
  --clr-lg-grey: #f1f3f8;
  --clr-md-grey: #e0e4f0;
  --transition: 0.6s;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 992px;
  width: 90%;
  margin: auto;
}

.bg-lg-grey {
  background-color: var(--clr-lg-grey);
  color: var(--clr-d-grey);
}

.bg-md-grey {
  background-color: var(--clr-md-grey);
  color: var(--clr-d-grey);
}

.btn-md-grey {
  background-color: var(--clr-md-grey);
  color: var(--clr-d-grey);
}

.btn-md-grey:hover {
  background-color: var(--clr-d-grey);
  color: var(--clr-white);
  transition: var(--transition);
}

.btn-bright {
  background-color: var(--clr-bright);
  color: var(--clr-white);
}

.btn-bright:hover {
  background-color: var(--clr-bright-hover);
  color: var(--clr-white);
  transition: var(--transition);
}

.btn-like {
  fill: var(--clr-bright);
}

.btn-like:hover {
  transform: scale(1.2);
  transition: var(--transition);
}

.pen-icon {
  fill: var(--clr-white);
};

.dropdown-menu, .dropdown-menu:hover {
  color: var(--clr-d-grey);
}

.dropdown-item {
  color: var(--clr-d-grey);
}

.dropdown-item:hover {
  background-color: var(--clr-lg-grey);
}

.modal {
  padding-top: 5%;
  background-color: #4141415b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}
